<a href="https://colab.research.google.com/github/snehavmohite1426/Python-pattern-/blob/main/Copy_of_Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q.1
for i in range(1,5,1):
  for j in range(1,6,1):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
# Q.2
for i in range(1,6,1):
  for j in range(1,6,1):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
# Q.3
for i in range(5,0,-1):
  for j in range(5,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
# Q.4
for i in range(5,0,-1):
  for j in range(5,0,-1):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
# Q.5
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print('*',end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Q.6
for i in range(1,6,1):
  for j in range(1,6,1):
    print('*',end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# Q.7
a=26
for i in range(1, 26, 1):
    print(i, end=" ")
    if i % 5 == 0:
        print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
# Q.8
for i in range(1,26):
    print(chr(64+i), end=" ")
    if i % 5 == 0:
        print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [1]:
# Q.9
for i in range(1,6,1):
  for j in range(1,6,1):
    print(chr(64+j),end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
# Q.10
for i in range(5,0,-1):
  for j in range(5,0,-1):
    print((chr(64+j)),end=" ")
  print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [ ]:
# Q.11
for i in range(1,6,1):
  for j in range(1,6,1):
    print(chr(64+i),end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
# Q.12
for i in range(5,0,-1):
  for j in range(5,0,-1):
    print(chr(64+i),end=" ")
  print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [ ]:
# Q.13
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Q.14
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
# Q.15
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# Q.16
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(i,end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
# Q.17
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(chr(64+j),end=" ")
  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
# Q.18
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(chr(64+j),end=" ")
  print()

E
E D
E D C
E D C B
E D C B A

In [ ]:
# Q.19
for i in range(5,0,-1):
  for j in range(1,i+1,1):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# Q.20
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# Q.21
for i in range(1,6,1):
  for j in range(i,6,1):
    print(j,end=" ")
  print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
  # Q.22
  for i in range(1, 6):
    for j in range(1, 6):
        if i % 2 != 0:
            print(chr(64 + j), end=" ")
        else:
            print(chr(96 + j), end=" ")
    print()

A B C D E
a b c d e
A B C D E
a b c d e
A B C D E

In [ ]:
# Q.23
ch = ord('A')
for i in range(5):
    for j in range(5):
        if i % 2 == 0:
            print(chr(ch), end=" ")
        else:
            print(chr(ch).lower(), end=" ")
        ch += 1
    print()

A B C D E
f g h i j
K L M N O
p q r s t
U V W X Y

In [ ]:
# Q.24
for i in range(1,6,1):
  for j in range(1,6,1):
    print((i+j+1) % 2, end=" ")
  print()

1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1

In [ ]:
# Q.25
for i in range(1, 6,1):
    print(" " * (5 - i) + " * " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# Q.26
for i in range(1, 6):
    print(" " * (5 - i), end="")
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
# Q.27
a=6
for i in range(1,a,1):
  for j in range(i,a,1):
    print(" ",end=" ")
  for k in range(1,i+1,1):
    print(k,end=" ")
  print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
# Q.28
a=6
for i in range(1, 6, 1):
    for j in range(5, i-1, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
# Q.29
for i in range(5, 0, -1):
    for j in range(65, 65 + i):
        print(chr(j), end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [ ]:
# Q.30
ch = 69
for i in range(5, 0, -1):
    print(chr(ch) * i)
    ch -= 1

EEEEE
DDDD
CCC
BB
A

In [ ]:
# Q.31
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Q.32
for i in range(1, 6):
    print("  " * (i-1), end="")
    for j in range(i, 6):
        print(j, end=" ")
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [ ]:
# Q.33
for i in range(1, 6):
    print("X " * i)

X
X X
X X X
X X X X
X X X X X

In [ ]:
# Q.34
for i in range(5, 0, -1):
    for j in range(5, i-1, -1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
# Q.35
for i in range(5, 0, -1):
    for j in range(5-i+1):
        print(i, end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
# Q.36
for i in range(1, 6):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# Q.37
for i in range(5, 0, -1):
    print("X " * i)

X X X X X
X X X X
X X X
X X
X

In [ ]:
# Q.38
for i in range(65, 70):
    for j in range(i, 70):
        print(chr(j), end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

In [ ]:
# Q.49
for i in range(5, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# Q.40
n = 5  # number of lines
for i in range(1, n+1, 1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
# Q.41
a=6
for i in range(1,a,1):
  for j in range(i,a,1):
    print(" ",end=" ")
  for k in range(1,i+1,1):
    print('x',end=" ")
  print()

          x
        x x
      x x x
    x x x x
  x x x x x